@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {  
background:#F2F2F2;
color: #333;
font-family:"Lato";
}

a{
  color: #333;
  text-decoration: none;
}

.content {
  min-width: 960px;
  margin: auto;
}

nav{
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
 
nav a{
  margin-left: 12PX;
}

nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.not-found{
  text-align: center;
}
.not-found a{
  color: aqua;
  text-decoration: underline;
}